<br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          <img [src]="product.image" [alt]="product.name" width="100%" class="img-fluid rounded">
        </div>
        <div class="z-depth-1" style="margin-top:15px">
          <ul class="list-group">
            <li class="list-group-item"> Product Price:
              <span style="margin-left:15px; color:crimson">
                <i class="fa fa-inr" aria-hidden="true"></i> {{product.price}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="product-detail z-depth-1">
        <h5 class="product-head">Product Details</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">Product Name</th>
              <td>{{product.name}}</td>
            </tr>
            <tr>
              <th scope="row">Product Description</th>
              <td>{{product.description}}</td>
            </tr>
            <tr>
              <th scope="row">Product Category</th>
              <td>{{product.category}}</td>
            </tr>
            <tr>
              <th scope="row">No. of quantity available</th>
              <td>{{product.stock}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
